/* Reset default styles for the entire document */
body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    font-family: Arial, sans-serif; /* Set default font family */
}


/* Styles for the background image */
#background-image {
    position: absolute; /* Position absolute to cover the entire viewport */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    background-image: url('../photo.jpg'); /* Background image URL */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the background image */
    z-index: -1; /* Place behind other elements */
}


/* Styles for the top bar */
#top-bar {
    background-color: rgb(70, 94, 36); /* Background color */
    color: white; /* Text color */
    font-size: 3vw; /* Font size */
    font-weight: 950; /* Font weight */
    padding: 2vw; /* Padding */
    text-align: center; /* Center-align text */
}

/* Styles for the search container */
#search-container {
    display: flex; /* Use flexbox layout */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center-align items */
    margin-top: 1vw; /* Margin from the top */
}

/* Styles for the search box */
#search-box {
    margin-bottom: 0.5vw; /* Margin from the bottom */
    width: 20vw; /* Width of the input box */
    padding: 0.5vw; /* Padding */
}

/* Styles for the search button */
#search-button {
    background-color: gray; /* Background color */
    color: white; /* Text color */
    padding: 0.8vw 1.5vw; /* Padding */
    border: none; /* No border */
    border-radius: 0.5vw; /* Rounded corners */
    cursor: pointer; /* Cursor style */
}

/* Styles for the search button on hover */
#search-button:hover {
    background-color: blue; /* Background color when hovered over */
}

/* Styles for the population data container */
#population-data {
    text-align: center; /* Center-align text */
    margin-top: 2vw; /* Margin from the top */
    padding: 20px; /* Padding */
}

/* Styles for the information about USA */
#info-usa {
    position: fixed; /* Fixed positioning */
    bottom: 0; /* Position at the bottom */
    left: 0; /* Position at the left */
    width: 100vw; /* Full width */
    background-color: rgba(0, 0, 0, 0.5); /* Background color with opacity */
    color: white; /* Text color */
    padding: 1vw; /* Padding */
    text-align: center; /* Center-align text */
}

/* Styles for the view bar graph button */
#view-bar-graph-button {
    display: none; /* Initially hidden */
    margin: 0 auto; /* Center horizontally */
    margin-top: 20px; /* Margin from the top */
    padding: 10px 20px; /* Padding */
    background-color: gray; /* Background color */
    color: white; /* Text color */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor style */
}
